BOT_TOKEN=your_telegram_bot_token
CHAT_ID=your_telegram_chat_id
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=username/time-managment
MINI_APP_URL=https://username.github.io/time-managment/
