BOT_TOKEN=your_telegram_bot_token
CHAT_ID=your_telegram_chat_id
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_REPO=u-specter/time-management-bot
MINI_APP_URL=https://u-specter.github.io/time-management-bot/
OPENAI_KEY=your_openai_api_key
